* {
    margin: 0;
    padding: 0;
}

#wrapper {
    position: relative;
    margin: 0 auto;
    width: 100%;
}
/*图片整体在页面居中*/
#paper{
    position: relative;
    display:-webkit-box;
    display:-moz-box;
    display:-ms-box;
    display: box; 
    -moz-box-pack:center; 
    -webkit-box-pack:center; 
    -o-box-pack:center; 
    box-pack:center; 

}
/*盒子存放图片及描述信息*/
.box {
    position: relative;
    float: left;
}
.box a {
    text-decoration: none;
}
.content {
    padding: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 0 2px #ccc;
    border-radius: 3px;
}
/*图片*/
.content img {
    display: block;
    width: 188px;
    height: auto;
}
/*图片描述信息*/
.content p {
    font-size: 14px;
    text-align: center;
    color: #666;
}
