doctype html
html
  head
    meta(http-equiv="Content-Type",content="text/html,charset=UTF-8")
    meta(name="viewport", content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no")
    link(rel='stylesheet', href='/stylesheets/bd_news.css')
    title= '百度新闻'
  body
    block content